{% extends 'base.html.twig' %}

{% block body %}
    <h1>Édition de {{ post.title }}</h1>
    <a href="{{ path('app_admin_post_delete2', {id: post.id}) }}">Supprimer</a>
    {{ include('admin/post/_form.html.twig', {
        form: form_edit,
        action: 'Enregistrer la modification'
    }) }}
{% endblock %}
