{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle publication</h1>
    {{ include('post/_form.html.twig', {
        form: form_new,
        action: 'Enregistrer'
    }) }}
{% endblock %}

{#
    Il est possible d'utiliser la fonction "parent()" pour récupérer le contenu du bloc parent.
    Ne pas utiliser dans le cas d'importmap
#}
{% block importmap %}{{ importmap(['app', 'new_post']) }}{% endblock %}
