{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'post.new_title'|trans }}</h1>
    {{ include('admin/post/_form.html.twig', {
        form: form_new,
        action: 'save'
    }) }}
{% endblock %}

{#
    Il est possible d'utiliser la fonction "parent()" pour récupérer le contenu du bloc parent.
    Ne pas utiliser dans le cas d'importmap
#}
{% block importmap %}{{ importmap(['app', 'new_post']) }}{% endblock %}
