{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>
    {{ render(controller('App\\Controller\\PostController::indexByCategory', {
        category: category
    })) }}
{% endblock %}

{% block title %}
    {{ category.name }}
{% endblock %}
