{% extends 'base.html.twig' %}

{% block title %}Dernières publications{% endblock %}

{% block body %}
    <h1>Dernières publications</h1>
    <form action="{{ path('app_post_search') }}">
        <label for="search-query">Recherche</label>
        <input type="search" id="search-query" name="q">
        <button class="btn btn-secondary">🔎</button>
    </form>
    <a href="{{ path('app_admin_post_new') }}">Nouvelle</a>
    {{ include('post/_list.html.twig', {empty_message: 'Aucune publication actuellement'}) }}
{% endblock %}
