{% extends 'base.html.twig' %}

{% block title %}Dernières publications{% endblock %}

{% block body %}
<ul>
    {% for post in posts %}
    <li><a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
