{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <h1>Recherche</h1>
    <form action="{{ path('app_post_search') }}">
        <label for="search-query">Recherche</label>
        <input type="search" id="search-query" name="q" value="{{ query }}">
        <button>🔎</button>
    </form>
    {{ include('post/_list.html.twig') }}
{% endblock %}
