{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>Publié le : {{ post.publishedAt | date('d/m/y H:i') }}</p>
    <div>
        {{ post.body | nl2br }}
    </div>
{% endblock %}

{% block title %}
{{ post.title }}
{% endblock %}
